<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <main>
            <form action="/videogames" method="post">
        
        <label for="name">Nombre</label><input type="text" name="name" id="name" placeholder="Escribe aqui">
        <label for="urlImage">Imagen</label><input type="text" name="urlImage" id="urlImage" placeholder="Escribe aqui el link de la imagen">
        <label for="description">Descripcion</label><input type="text" name="description" id="description" placeholder="Escribe aqui la descripcion">
        <label for="rating">Rating</label><input type="text" name="rating" id="rating" placeholder="Escribe aquiel rating.">
        
        
        <button class="btn-link accordion-button" type="submit">Enviar</button>
        
        
        
        </form>
        
</body>
</html>